.chat-messages .message .content {
    max-width: 40%;
    overflow-wrap: break-word;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: #fff;
}

.chat-messages .sended {
    justify-content: flex-end;
}

.chat-messages .sended .content {
    background-color: #6585ac;
}

.chat-messages .received {
    justify-content: flex-start;
}

.chat-messages .received .content {
    background-color: #d1d1d1;
    color: black;
}

.jQezso {
    margin-top: 12px !important;
    background-color: red !important;
}